@import url("https://use.typekit.net/wcv3oxg.css");

body {
  padding: 20px 83px;
}

header {
  height: 777px;
  width: auto;
}
nav {
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: white;
  height: 110px;
  float: right;
  margin-top: 38px;
  margin-right: 83px;
}
nav li {
  display: inline;
  float: right;
}
nav li a {
  display: inline-block;
  color: #111113;
  text-decoration: none;
  margin: 18px -80px 0px 180px;
  padding: 10px 15px;
  font-family: "auto-pro-new", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.title {
  font-family: contralto-big, sans-serif;
  font-weight: 600;
  font-size: 77px;
  font-style: normal;
  margin-left: -12px;
  margin-top: 38px;
  margin-bottom: 63px;
  display: inline-block;
}

.subtitle {
  font-family: scotch-display, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 50px;
}

#header-nums-members {
  font-family: articulat-heavy-cf, sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 50px;
  margin-top: 130px;
}

#header-nums-members::before {
  content: "";
  display: block;
  height: 7px;
  background-color: #b6f9ce;
  position: absolute;
  top: 520px;
  width: 0px;
  transition: all ease-in-out 250ms;
}

#header-nums-members:hover::before {
  width: 130px;
}

#header-nums-articles {
  font-family: articulat-heavy-cf, sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 50px;
  margin-top: 130px;
}

#header-nums-articles::before {
  content: "";
  display: block;
  height: 7px;
  background-color: #b3a2f3;
  position: absolute;
  top: 520px;
  width: 0px;
  transition: all ease-in-out 250ms;
}

#header-nums-articles:hover::before {
  width: 130px;
}

.header-nums-sub {
  font-family: auto-pro, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
}

.bg-img1 {
  height: 600px;
}

.column {
  float: left;
  width: 50%;
}

.vertical-center {
  vertical-align: middle;
}

#keyboard-shutter {
  width: 504px;
  height: 493px;
  float: right;
}

#categories-btn {
  border: 1px solid #000;
  border-radius: 10px;
}

#signup-btn {
  text-decoration: underline;
}
