@import url("https://use.typekit.net/wcv3oxg.css");

body {
  background-image: url(../img/figuur1.png);
  background-repeat: no-repeat;
  background-size: 900px;
  background-position: top;
}

.header {
  height: 777px;
  width: auto;
}
nav {
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: transparent;
  height: 110px;
  float: right;
  margin-top: 38px;
  margin-right: 83px;
}
nav li {
  display: inline;
  float: right;
}

nav li a {
  display: inline-block;
  color: #111113;
  text-decoration: none;
  margin: 18px -80px 0px 180px;
  padding: 10px 15px;
  font-family: "auto-pro-new", sans-serif;
  font-weight: 400;
}

nav li a:hover {
  color: grey;
}

.bg-img1 {
  height: 600px;
}

.column {
  float: left;
  width: 50%;
}

.vertical-center {
  vertical-align: middle;
}

#categories-btn {
  border: 1px solid #000;
  border-radius: 10px;
}

#signup-btn {
  text-decoration: underline;
}

.ontwerp-image-sub {
  font-family: auto-pro-new, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 20px;
  padding: 0px;
  background-color: white;
}

.table-element {
  width: 300px;
  padding: 5px;
  text-align: center;
}

.section-div {
  width: 100%;
  margin-bottom: 150px;
}

#ontwerp-table {
  display: inline-block;
  margin-right: 10px;
}

.centered-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#footer {
  background-color: #111113;
  width: 100%;
}

.main {
  margin: 20px 83px;
}

.category {
  border: 0px;
  border-radius: 0px;
  width: 142px;
  padding: 5px 0px;
  margin: 20px 15px;
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/* Image styles */
.ontwerp-image {
  height: 316px;
  width: 277px;
  object-fit: cover;
}

.editors-picks-image {
  width: 377px;
  height: 490px;
  object-fit: cover;
}

#green-chairs {
  width: 504px;
  height: 493px;
  float: right;
}

#keyboard-shutter {
  width: 599px;
  height: 570px;
  float: right;
  object-fit: cover;
}

#black-wires {
  height: 570px;
  width: 875px;
  object-fit: cover;
  float: right;
  margin-top: 250px;
  margin-bottom: 180px;
}

#walking {
  height: 570px;
  width: 599px;
  object-fit: cover;
}

#create-wall {
  height: 570px;
  width: 100%;
  object-fit: cover;
  margin-top: 237px;
}

#staff {
  width: 100%;
  height: 611px;
  object-fit: cover;
  margin: 60px 0px;
}

#article-filler {
  width: 690px;
  height: 750px;
  transform: rotate(196deg);
}

#manager {
  width: 90%;
  object-fit: cover;
  padding-top: 35px;
}

.footer-icon {
  height: 40px;
  width: 40px;
  margin: 40px 40px;
}

#reading {
  height: 320px;
  width: 555px;
  object-fit: cover;
}

#artist {
  width: 100%;
  height: 885px;
  object-fit: cover;
  margin: 240px 0px;
}

/* Text styles */
.title {
  font-family: contralto-big, sans-serif;
  font-weight: 600;
  font-size: 77px;
  margin-left: -12px;
  margin-top: 38px;
  margin-bottom: 63px;
  display: inline-block;
}

.subtitle {
  font-family: scotch-display, sans-serif;
  font-weight: 400;
  font-size: 50px;
  line-height: 70px;
}

.publish-date {
  font-family: auto-pro, sans-serif;
  font-weight: 900;
  font-size: 20px;
  color: #909090;
  text-align: center;
}

#header-nums-members {
  font-family: articulat-heavy-cf, sans-serif;
  font-weight: 900;
  font-size: 50px;
  margin-top: 130px;
}

#header-nums-members::before {
  content: "";
  display: block;
  height: 7px;
  background-color: #b6f9ce;
  position: relative;
  top: 50px;
  width: 0px;
  transition: all ease-in-out 250ms;
}

#header-nums-members:hover::before {
  width: 130px;
}

#header-nums-articles {
  font-family: articulat-heavy-cf, sans-serif;
  font-weight: 900;
  font-size: 50px;
  margin-top: 130px;
}

#header-nums-articles::before {
  content: "";
  display: block;
  height: 7px;
  background-color: #b3a2f3;
  position: relative;
  top: 50px;
  width: 0px;
  transition: all ease-in-out 250ms;
}

#header-nums-articles:hover::before {
  width: 130px;
}

.header-nums-sub {
  font-family: auto-pro, sans-serif;
  font-weight: 400;
  font-size: 20px;
}

.clickable-link {
  text-decoration-line: underline;
  float: right;
  font-family: auto-pro-new, sans-serif;
  font-weight: 400;
  font-size: 30px;
  color: #000;
}

#ontwerp-header {
  font-family: articulat-heavy-cf;
  font-weight: 900;
  font-size: 40px;
  float: right;
  position: relative;
  top: 150px;
  right: 60px;
}

#ontwerp-header::before {
  content: "";
  display: block;
  height: 7px;
  background-color: #b3a2f3;
  width: 130px;
  position: relative;
  top: 50px;
  left: 98px;
}

#ethiek-header {
  font-family: articulat-heavy-cf;
  font-weight: 900;
  font-size: 40px;
  float: right;
  position: relative;
  top: 150px;
  right: 100px;
}

#ethiek-header::before {
  content: "";
  display: block;
  height: 7px;
  background-color: #b6f9ce;
  width: 130px;
  position: relative;
  top: 50px;
  left: 98px;
}

#technologie-header {
  font-family: articulat-heavy-cf;
  font-weight: 900;
  font-size: 40px;
  float: right;
  position: relative;
  top: 150px;
  right: 0px;
}

#technologie-header::before {
  content: "";
  display: block;
  height: 7px;
  background-color: #a1e6b9;
  width: 130px;
  position: relative;
  top: 50px;
  left: 105px;
}

#kunst-header {
  font-family: articulat-heavy-cf;
  font-weight: 900;
  font-size: 40px;
  float: right;
  position: relative;
  top: 150px;
  right: 100px;
}

#kunst-header::before {
  content: "";
  display: block;
  height: 7px;
  background-color: #e3def7;
  width: 130px;
  position: relative;
  top: 50px;
  left: 88px;
}

#editors-picks-title {
  font-family: scotch-display, sans-serif;
  font-weight: 400;
  font-size: 101px;
  letter-spacing: 30px;
}

.quote {
  width: 60%;
  text-align: left;
}

.article-title {
  font-family: scotch-display, sans-serif;
  font-weight: 600;
  font-size: 30px;
  text-align: center;
  margin: 20px 0px;
}

.article-paragraph {
  font-family: auto-pro-new, sans-serif;
  font-weight: 300;
  font-size: 25px;
  margin: 30px 0px;
}

.article-paragraph-small {
  font-family: auto-pro-new, sans-serif;
  font-weight: 300;
  font-size: 20px;
  margin: 30px 0px;
  line-height: 25px;
}

.article-section {
  width: 75%;
  margin: auto;
}

.article-subtitle {
  font-family: scotch-display, sans-serif;
  font-weight: 400;
  font-size: 30px;
  margin: 40px 0px;
}

.footer-btn {
  border: 0px;
  background-color: transparent;
  color: #d7d4dc;
  font-family: auto-pro-new, sans-serif;
  font-weight: 300;
  font-size: 40px;
  margin: 20px 40px;
}
